body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

/* Сброс стилей списка */
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

/* Стилизация элементов списка */
.nav-menu li {
  float: left;
}

/* Стилизация ссылок */
.nav-menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* Стилизация ссылок при наведении */
.nav-menu a:hover {
  /*Подчёркивание ссылок при наведении*/
  text-decoration: underline;
}

.square {
  /*для автоматического распределения по пространству*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
}

.img-github {
  width: 42px;
  height: 42px;
  display: block;
  margin-left: left;
  margin-right: left;
}

hr {
  border: 2px solid white;
}

.image-row {
  display: flex;
  /*Расположение изображений с равными отступами между ними*/
  justify-content: space-around;
  /*Выравнивание изображений по центру*/
  align-items: center;
}

.name-cat{
  text-align: center;
}

h2 {
  padding: 1px;
  margin: 1px;
}

.heading-task-list {
  font-size: 40px;
  padding: 1px;
  margin: 1px;
}

.all-list {
  border-radius: 1cm;
  border: 2px solid white;
  font-size: 20px;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.table-container {
  display: flex;
  /*распределение пространства равномерно между таблицами*/
  justify-content: space-around;
  /*перенос таблицы на новую строку*/
  flex-wrap: wrap;
}

.table {
  width: 100%;
  margin: 10px;
  font-size: 25px;
  border-collapse: collapse;
}

th, td {
  /*Устанавливаем ширину каждого столбца в 25% от ширины таблица*/
  width: 25%;
  border: 2px;
  border-color: var(--borderTable);
  border-style: solid;
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background: var(--lineColor);
}

.even-lines {
  color: var(--fontColorTable);
}

.all-facts {
  margin: 0;
  padding: 5px;
  background-color: var(--bgFacts);
}

.h1-facts {
  color: var(--fontColorh1);
  margin: 10px;
  padding: 5px;
}

.all-facts > .fact {
  margin: 10px;
  padding: 5px;
  color: var(--fontColorFacts);
}

.fact, h2 {
  background: var(--bgArticle);
  color: var(--fontColorFacts);
}

.fact > h2, p {
  margin: 4px;
  font-size: 90%;
}

.img-bulb {
  width: 200px;
  height: 205px;
}

.question-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.cell {
  padding: 1px;
}

.textBox {
  border: 1px solid gray;
  border-radius: 10px;
}

.btn-input {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 17px;
  background-color: #8000ff;
  border: 2px solid #333333;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px #999;
}

.btn-input:hover {background-color: #6614b8}

.btn-input:active {
  background-color: #6614b8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.margin-null {
  margin: 0;
}

:root {
  --periwinkle: #CCCCFF;
  --white: #FFFFFF;
  --black: #000000;
}

.light-theme {
  /*цвет фона, цвет шрифта*/
  --bg: var(--periwinkle);
  --fontColor: var(--black);
  /*цвет кнопки*/
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  /*цвет границ таблицы*/
  --borderTable: var(--black);
  /*цвет чётных строк в таблице*/
  --lineColor: var(--white);
  /*цвет шрифта в таблице*/
  --fontColorTable: var(--black);
  /*цвет фона article в фактах*/
  --bgFacts: var(--white);
  /*цвет article в фактах*/
  --bgArticle: var(--periwinkle);
  /*цвет шрифта в фактах*/
  --fontColorFacts: var(--black);
  /*отдельно для h1 в фактах*/
  --fontColorh1: var(--black);
}

.dark-theme {
  /*цвет фона, цвет шрифта*/
  --bg: var(--black);
  --fontColor: var(--periwinkle);
  /*цвет кнопки*/
  --btnBg: var(--periwinkle);
  --btnFontColor: var(--black);
  /*цвет границ таблицы*/
  --borderTable: var(--white);
  /*цвет чётных строк в таблице*/  
  --lineColor: var(--periwinkle);
  /*цвет шрифта в таблице*/
  --fontColorTable: var(--black);
  /*цвет фона article в фактах*/
  --bgFacts: var(--periwinkle);
  /*цвет article в фактах*/
  --bgArticle: var(--black);
  /*цвет шрифта в фактах*/
  --fontColorFacts: var(--periwinkle);
  /*отдельно для h1 в фактах*/
  --fontColorh1: var(--black);
}

.my-canvas {
  border: 2px solid #333333;
}

.btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  display: block;
  margin-left: left;
  margin-right: left;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  margin: 10px;
  cursor: pointer;
}

.img-top-arrow {
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: transparent;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.align{
  display: flex;
}